/* Color Tokens Light Theme */
:root,
:root[data-theme='light'] {
  --stackbird-elements-borderColor: theme('colors.alpha.gray.10');
  --stackbird-elements-borderColorActive: theme('colors.accent.600');

  --stackbird-elements-bg-depth-1: theme('colors.white');
  --stackbird-elements-bg-depth-2: theme('colors.gray.50');
  --stackbird-elements-bg-depth-3: theme('colors.gray.200');
  --stackbird-elements-bg-depth-4: theme('colors.alpha.gray.5');

  --stackbird-elements-textPrimary: theme('colors.gray.950');
  --stackbird-elements-textSecondary: theme('colors.gray.600');
  --stackbird-elements-textTertiary: theme('colors.gray.500');

  --stackbird-elements-code-background: theme('colors.gray.100');
  --stackbird-elements-code-text: theme('colors.gray.950');

  --stackbird-elements-button-primary-background: theme('colors.alpha.accent.10');
  --stackbird-elements-button-primary-backgroundHover: theme('colors.alpha.accent.20');
  --stackbird-elements-button-primary-text: theme('colors.accent.500');

  --stackbird-elements-button-secondary-background: theme('colors.alpha.gray.5');
  --stackbird-elements-button-secondary-backgroundHover: theme('colors.alpha.gray.10');
  --stackbird-elements-button-secondary-text: theme('colors.gray.950');

  --stackbird-elements-button-danger-background: theme('colors.alpha.red.10');
  --stackbird-elements-button-danger-backgroundHover: theme('colors.alpha.red.20');
  --stackbird-elements-button-danger-text: theme('colors.red.500');

  --stackbird-elements-item-contentDefault: theme('colors.alpha.gray.50');
  --stackbird-elements-item-contentActive: theme('colors.gray.950');
  --stackbird-elements-item-contentAccent: theme('colors.accent.700');
  --stackbird-elements-item-contentDanger: theme('colors.red.500');
  --stackbird-elements-item-backgroundDefault: rgba(0, 0, 0, 0);
  --stackbird-elements-item-backgroundActive: theme('colors.alpha.gray.5');
  --stackbird-elements-item-backgroundAccent: theme('colors.alpha.accent.10');
  --stackbird-elements-item-backgroundDanger: theme('colors.alpha.red.10');

  --stackbird-elements-loader-background: theme('colors.alpha.gray.10');
  --stackbird-elements-loader-progress: theme('colors.accent.500');

  --stackbird-elements-artifacts-background: theme('colors.white');
  --stackbird-elements-artifacts-backgroundHover: theme('colors.alpha.gray.2');
  --stackbird-elements-artifacts-borderColor: var(--stackbird-elements-borderColor);
  --stackbird-elements-artifacts-inlineCode-background: theme('colors.gray.100');
  --stackbird-elements-artifacts-inlineCode-text: var(--stackbird-elements-textPrimary);

  --stackbird-elements-actions-background: theme('colors.white');
  --stackbird-elements-actions-code-background: theme('colors.gray.800');

  --stackbird-elements-messages-background: theme('colors.gray.100');
  --stackbird-elements-messages-linkColor: theme('colors.accent.500');
  --stackbird-elements-messages-code-background: theme('colors.gray.800');
  --stackbird-elements-messages-inlineCode-background: theme('colors.gray.200');
  --stackbird-elements-messages-inlineCode-text: theme('colors.gray.800');

  --stackbird-elements-icon-success: theme('colors.green.500');
  --stackbird-elements-icon-error: theme('colors.red.500');
  --stackbird-elements-icon-primary: theme('colors.gray.950');
  --stackbird-elements-icon-secondary: theme('colors.gray.600');
  --stackbird-elements-icon-tertiary: theme('colors.gray.500');

  --stackbird-elements-dividerColor: theme('colors.gray.100');

  --stackbird-elements-prompt-background: theme('colors.alpha.white.80');

  --stackbird-elements-sidebar-dropdownShadow: theme('colors.alpha.gray.10');
  --stackbird-elements-sidebar-buttonBackgroundDefault: theme('colors.alpha.accent.10');
  --stackbird-elements-sidebar-buttonBackgroundHover: theme('colors.alpha.accent.20');
  --stackbird-elements-sidebar-buttonText: theme('colors.accent.700');
  --stackbird-elements-sidebar-background: theme('colors.white');

  --stackbird-elements-preview-addressBar-background: theme('colors.gray.100');
  --stackbird-elements-preview-addressBar-backgroundHover: theme('colors.alpha.gray.5');
  --stackbird-elements-preview-addressBar-backgroundActive: theme('colors.white');
  --stackbird-elements-preview-addressBar-text: var(--stackbird-elements-textSecondary);
  --stackbird-elements-preview-addressBar-textActive: var(--stackbird-elements-textPrimary);

  --stackbird-elements-terminals-background: theme('colors.white');
  --stackbird-elements-terminals-buttonBackground: var(--stackbird-elements-bg-depth-4);

  --stackbird-elements-cta-background: theme('colors.gray.100');
  --stackbird-elements-cta-text: theme('colors.gray.950');

  /* Terminal Colors */
  --stackbird-terminal-background: var(--stackbird-elements-terminals-background);
  --stackbird-terminal-foreground: #333333;
  --stackbird-terminal-selection-background: #00000040;
  --stackbird-terminal-black: #000000;
  --stackbird-terminal-red: #cd3131;
  --stackbird-terminal-green: #00bc00;
  --stackbird-terminal-yellow: #949800;
  --stackbird-terminal-blue: #0451a5;
  --stackbird-terminal-magenta: #bc05bc;
  --stackbird-terminal-cyan: #0598bc;
  --stackbird-terminal-white: #555555;
  --stackbird-terminal-brightBlack: #686868;
  --stackbird-terminal-brightRed: #cd3131;
  --stackbird-terminal-brightGreen: #00bc00;
  --stackbird-terminal-brightYellow: #949800;
  --stackbird-terminal-brightBlue: #0451a5;
  --stackbird-terminal-brightMagenta: #bc05bc;
  --stackbird-terminal-brightCyan: #0598bc;
  --stackbird-terminal-brightWhite: #a5a5a5;
  --modern-scrollbar-thumb-background: rgba(100, 100, 100, 0.3); // Example light theme color
  --modern-scrollbar-thumb-backgroundHover: rgba(74, 74, 74, 0.8);
}

/* Color Tokens Dark Theme */
:root,
:root[data-theme='dark'] {
  --stackbird-elements-borderColor: theme('colors.gray.800');
  --stackbird-elements-borderColorActive: theme('colors.gray.600');

  --stackbird-elements-bg-depth-1: theme('colors.gray.950');
  --stackbird-elements-bg-depth-2: theme('colors.gray.900');
  --stackbird-elements-bg-depth-3: theme('colors.gray.800');
  --stackbird-elements-bg-depth-4: theme('colors.gray.700');

  --stackbird-elements-textPrimary: theme('colors.gray.50');
  --stackbird-elements-textSecondary: theme('colors.gray.400');
  --stackbird-elements-textTertiary: theme('colors.gray.500');

  --stackbird-elements-code-background: theme('colors.gray.900');
  --stackbird-elements-code-text: theme('colors.gray.50');

  --stackbird-elements-button-primary-background: theme('colors.gray.50');
  --stackbird-elements-button-primary-backgroundHover: theme('colors.gray.200');
  --stackbird-elements-button-primary-text: theme('colors.gray.950');

  --stackbird-elements-button-secondary-background: transparent;
  --stackbird-elements-button-secondary-backgroundHover: theme('colors.gray.900');
  --stackbird-elements-button-secondary-text: theme('colors.gray.50');

  --stackbird-elements-button-danger-background: theme('colors.alpha.red.10');
  --stackbird-elements-button-danger-backgroundHover: theme('colors.alpha.red.20');
  --stackbird-elements-button-danger-text: theme('colors.red.500');

  --stackbird-elements-item-contentDefault: theme('colors.gray.400');
  --stackbird-elements-item-contentActive: theme('colors.gray.50');
  --stackbird-elements-item-contentAccent: theme('colors.gray.50');
  --stackbird-elements-item-contentDanger: theme('colors.red.500');
  --stackbird-elements-item-backgroundDefault: transparent;
  --stackbird-elements-item-backgroundActive: theme('colors.gray.900');
  --stackbird-elements-item-backgroundAccent: theme('colors.gray.800');
  --stackbird-elements-item-backgroundDanger: theme('colors.alpha.red.10');

  --stackbird-elements-loader-background: theme('colors.gray.800');
  --stackbird-elements-loader-progress: theme('colors.gray.50');

  --stackbird-elements-artifacts-background: theme('colors.gray.950');
  --stackbird-elements-artifacts-backgroundHover: theme('colors.gray.900');
  --stackbird-elements-artifacts-borderColor: var(--stackbird-elements-borderColor);
  --stackbird-elements-artifacts-inlineCode-background: theme('colors.gray.800');
  --stackbird-elements-artifacts-inlineCode-text: theme('colors.gray.50');

  --stackbird-elements-actions-background: theme('colors.gray.950');
  --stackbird-elements-actions-code-background: theme('colors.gray.900');

  --stackbird-elements-messages-background: theme('colors.gray.900');
  --stackbird-elements-messages-linkColor: theme('colors.gray.50');
  --stackbird-elements-messages-code-background: theme('colors.gray.950');
  --stackbird-elements-messages-inlineCode-background: theme('colors.gray.800');
  --stackbird-elements-messages-inlineCode-text: var(--stackbird-elements-textPrimary);

  --stackbird-elements-icon-success: theme('colors.green.400');
  --stackbird-elements-icon-error: theme('colors.red.400');
  --stackbird-elements-icon-primary: theme('colors.gray.50');
  --stackbird-elements-icon-secondary: theme('colors.gray.400');
  --stackbird-elements-icon-tertiary: theme('colors.gray.500');

  --stackbird-elements-dividerColor: theme('colors.gray.800');

  --stackbird-elements-prompt-background: theme('colors.gray.900');

  --stackbird-elements-sidebar-dropdownShadow: theme('colors.alpha.black.50');
  --stackbird-elements-sidebar-buttonBackgroundDefault: transparent;
  --stackbird-elements-sidebar-buttonBackgroundHover: theme('colors.gray.800');
  --stackbird-elements-sidebar-buttonText: theme('colors.gray.50');
  --stackbird-elements-sidebar-background: theme('colors.gray.950');

  --stackbird-elements-preview-addressBar-background: var(--stackbird-elements-bg-depth-1);
  --stackbird-elements-preview-addressBar-backgroundHover: theme('colors.gray.900');
  --stackbird-elements-preview-addressBar-backgroundActive: var(--stackbird-elements-bg-depth-1);
  --stackbird-elements-preview-addressBar-text: var(--stackbird-elements-textSecondary);
  --stackbird-elements-preview-addressBar-textActive: var(--stackbird-elements-textPrimary);

  --stackbird-elements-terminals-background: var(--stackbird-elements-bg-depth-1);
  --stackbird-elements-terminals-buttonBackground: var(--stackbird-elements-bg-depth-3);

  --stackbird-elements-cta-background: theme('colors.gray.800');
  --stackbird-elements-cta-text: theme('colors.gray.50');

  /* Terminal Colors */
  --stackbird-terminal-background: var(--stackbird-elements-terminals-background);
  --stackbird-terminal-foreground: #fafafa;
  --stackbird-terminal-selection-background: #3f3f46;
  --stackbird-terminal-black: #000000;
  --stackbird-terminal-red: #ef4444;
  --stackbird-terminal-green: #22c55e;
  --stackbird-terminal-yellow: #eab308;
  --stackbird-terminal-blue: #3b82f6;
  --stackbird-terminal-magenta: #a855f7;
  --stackbird-terminal-cyan: #06b6d4;
  --stackbird-terminal-white: #fafafa;
  --stackbird-terminal-brightBlack: #71717a;
  --stackbird-terminal-brightRed: #f87171;
  --stackbird-terminal-brightGreen: #4ade80;
  --stackbird-terminal-brightYellow: #facc15;
  --stackbird-terminal-brightBlue: #60a5fa;
  --stackbird-terminal-brightMagenta: #c084fc;
  --stackbird-terminal-brightCyan: #22d3ee;
  --stackbird-terminal-brightWhite: #ffffff;
  --modern-scrollbar-thumb-background: rgba(100, 100, 100, 0.3);
  --modern-scrollbar-thumb-backgroundHover: rgba(10, 10, 10, 0.8);
}

/*
 * Element Tokens
 *
 * Hierarchy: Element Token -> (Element Token | Color Tokens) -> Primitives
 */
:root {
  --header-height: 54px;
  --sidebar-width: 72px;
  --chat-max-width: 33rem;
  --chat-min-width: 380px;
  --workbench-width: min(calc(100% - var(--chat-min-width) - var(--sidebar-width)), 2536px);
  --workbench-inner-width: var(--workbench-width);
  --workbench-left: calc(var(--sidebar-width) + var(--chat-min-width));
  --chat-available-width: calc(100% - var(--sidebar-width));

  /* Toasts */
  --toastify-color-progress-success: var(--stackbird-elements-icon-success);
  --toastify-color-progress-error: var(--stackbird-elements-icon-error);

  /* Terminal */
  --stackbird-elements-terminal-backgroundColor: var(--stackbird-terminal-background);
  --stackbird-elements-terminal-textColor: var(--stackbird-terminal-foreground);
  --stackbird-elements-terminal-cursorColor: var(--stackbird-terminal-foreground);
  --stackbird-elements-terminal-selection-backgroundColor: var(--stackbird-terminal-selection-background);
  --stackbird-elements-terminal-color-black: var(--stackbird-terminal-black);
  --stackbird-elements-terminal-color-red: var(--stackbird-terminal-red);
  --stackbird-elements-terminal-color-green: var(--stackbird-terminal-green);
  --stackbird-elements-terminal-color-yellow: var(--stackbird-terminal-yellow);
  --stackbird-elements-terminal-color-blue: var(--stackbird-terminal-blue);
  --stackbird-elements-terminal-color-magenta: var(--stackbird-terminal-magenta);
  --stackbird-elements-terminal-color-cyan: var(--stackbird-terminal-cyan);
  --stackbird-elements-terminal-color-white: var(--stackbird-terminal-white);
  --stackbird-elements-terminal-color-brightBlack: var(--stackbird-terminal-brightBlack);
  --stackbird-elements-terminal-color-brightRed: var(--stackbird-terminal-brightRed);
  --stackbird-elements-terminal-color-brightGreen: var(--stackbird-terminal-brightGreen);
  --stackbird-elements-terminal-color-brightYellow: var(--stackbird-terminal-brightYellow);
  --stackbird-elements-terminal-color-brightBlue: var(--stackbird-terminal-brightBlue);
  --stackbird-elements-terminal-color-brightMagenta: var(--stackbird-terminal-brightMagenta);
  --stackbird-elements-terminal-color-brightCyan: var(--stackbird-terminal-brightCyan);
  --stackbird-elements-terminal-color-brightWhite: var(--stackbird-terminal-brightWhite);
}
